src/Tagger/bin/*
src/Tagger/obj
src/Tagger.Tests/bin/*
src/Tagger.Tests/obj
src/Tagger.FSharp/bin/*
src/Tagger.FSharp/obj
src/Tagger.FSharp.Tests/bin/*
src/Tagger.FSharp.Tests/obj
build/*
packages
*.suo
*.userprefs
*~
\#*\#
*.pidb
*.test-cache
src/Tagger/test-results/*
src/Tagger.Tests/test-results/*
*.DS_Store
*.csproj.user
TestResult.xml
*.nupkg
*.old
StyleCop.Cache